# Import Libraries

In [89]:
import pandas as pd
import matplotlib as pt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
cmap = sns.cubehelix_palette(dark=.3, light=.8, as_cmap=True)
%matplotlib inline
pt.style.use('ggplot')

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor

# Import Dataset (Tipo de Cambio) Año 2007-2020

In [30]:
cdata = pd.read_csv("DatasetTipoCambio.csv")

In [31]:
cdata.head()

   Mes   Año  TipoCambio
0    1  2007  518.038470
1    2  2007  519.222105
2    3  2007  519.475157
3    4  2007  518.563088
4    5  2007  518.994812

# Importar Dataset(Tipo de Cambio) Año 2000-2020

In [62]:
cdatafull = pd.read_csv("DatasetTipoCambioCompleto.csv")

# Definir Conjuntos de datos

In [74]:
x = cdata.iloc[:,0:2]
y= cdata.iloc[:,2]

In [121]:
x.head()

   Mes   Año
0    1  2007
1    2  2007
2    3  2007
3    4  2007
4    5  2007

In [76]:
y.head()

0    518.038470
1    519.222105
2    519.475157
3    518.563088
4    518.994812
Name: TipoCambio, dtype: float64

In [77]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [86]:
x_train.shape, x_test.shape,y_train.shape,y_test.shape

((111, 2), (48, 2), (111,), (48,))

# Modelo regression

Usando Linear Regression

In [87]:
lreg = LinearRegression().fit(x_train, y_train)
lpred = lreg.predict(x_test)

# The coefficients
print('Coefficients: \n', lreg.coef_)
# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(y_test,lpred))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'
      % r2_score(y_test, lpred))
print('-------------------------------------------------------------------------')
print('Mean Absolute Error:', mean_absolute_error(y_test, lpred))  
print('Mean Squared Error:', mean_squared_error(y_test, lpred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, lpred)))

Coefficients:
 [0.27097238 4.33185807]
Mean squared error: 645.66
Coefficient of determination: 0.26
-------------------------------------------------------------------------
Mean Absolute Error: 20.542909566061482
Mean Squared Error: 645.655156498856
Root Mean Squared Error: 25.4097453056668

Usando Random Forest Regressor

In [95]:
RFreg = RandomForestRegressor()
RFreg = RFreg.fit(x_train, y_train)
RFpred = RFreg.predict(x_test)
print('-------------------------------------------------------------------------')
print('Mean Absolute Error:', mean_absolute_error(y_test, RFpred))  
print('Mean Squared Error:', mean_squared_error(y_test, RFpred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, RFpred)))

-------------------------------------------------------------------------
Mean Absolute Error: 5.852024262118699
Mean Squared Error: 68.44432421449827
Root Mean Squared Error: 8.273108497686843

In [97]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': RFpred})
df

         Actual   Predicted
7    518.195689  518.282130
40   525.572583  539.002223
95   536.096150  539.474285
45   506.243966  508.562847
110  534.562701  536.157970
120  546.853600  554.127122
59   501.163609  505.144989
131  563.154496  573.529610
33   578.816544  579.852051
83   498.411299  501.660737
128  572.666844  571.303474
134  563.918737  566.842773
60   507.570846  502.898723
126  568.005550  563.812106
62   508.094918  500.120170
37   550.739450  550.647456
44   504.227843  511.729865
142  609.881443  585.482314
85   511.321579  518.574964
26   564.181485  563.177593
61   509.746993  500.576678
54   502.234822  501.830622
86   538.907573  543.850617
144  603.474686  599.104892
63   504.544746  500.249461
8    518.156614  519.734152
24   555.851716  562.533966
56   506.276294  503.722396
119  546.047082  547.368176
148  591.935448  595.149040
19   552.571069  534.178736
90   539.838987  543.279205
143  598.811376  583.772894
130  564.196360  573.529610
16   508.809201  511.760761
96   538.717057  516.958906
107  533.007834  534.109353
22   554.093563  547.934362
113  542.433801  538.898859
89   552.273252  549.559103
109  536.278514  528.750293
74   499.869650  500.080985
97   538.000865  516.958906
27   563.723842  567.060909
157  569.281164  580.895863
100  532.151590  535.817188
51   497.192771  497.900375
101  535.586096  537.320496

Importar dataset de prediccion

In [114]:
dspred = pd.read_csv("DatasetTipoCambioPred.csv")

In [122]:
dspred.head()

   Mes   Año  TipoCambio
0    1  2020  576.733784
1    2  2020  580.895863
2    3  2020  576.728974
3    4  2020  577.214402
4    5  2020  577.070700

In [116]:
FinalPred=RFreg.predict(dspred)

In [117]:
FinalPred

array([576.73378399, 580.89586314, 576.72897374, 577.21440228,
       577.07070012, 575.17625162, 573.82554656, 570.45853956,
       573.4056725 , 575.48374939, 574.08900538, 569.79969312])

In [118]:
dspred['TipoCambio']=FinalPred

In [119]:
dspred

    Mes   Año  TipoCambio
0     1  2020  576.733784
1     2  2020  580.895863
2     3  2020  576.728974
3     4  2020  577.214402
4     5  2020  577.070700
5     6  2020  575.176252
6     7  2020  573.825547
7     8  2020  570.458540
8     9  2020  573.405672
9    10  2020  575.483749
10   11  2020  574.089005
11   12  2020  569.799693

In [120]:
dspred.to_csv("DatasetTipoCambioPred.csv")