# Import Libraries

In [1]:
import pandas as pd
import matplotlib as pt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
cmap = sns.cubehelix_palette(dark=.3, light=.8, as_cmap=True)
%matplotlib inline
pt.style.use('ggplot')

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor

# Import Dataset

In [2]:
prestamosCobroJudicial = pd.read_csv("BacPrestamosCobroJudicial.csv")

In [3]:
prestamosCobroJudicial.head()

   RowId   Año  Mes  Actividad  CobroJudicial
0   2148  2016   11    Consumo   2.655478e+09
1   2158  2016   12  Inmuebles   6.404441e+09
2   2166  2016   12    Consumo   2.196382e+09
3   2176  2017    1  Inmuebles   6.425878e+09
4   2184  2017    1    Consumo   6.279686e+09

# Data Cleansing

In [4]:
#Usar Categoria 1 para Inmuebles,2 para consumo
prestamosCobroJudicial['Actividad'].replace(['Inmuebles','Consumo'],[1,2],inplace=True)
#Quitar columna RowId
prestamosCobroJudicial.drop(['RowId'], axis=1,inplace=True)

In [5]:
#Reordenar columnas
prestamosCobroJudicial.columns.tolist()

['Año', 'Mes', 'Actividad', 'CobroJudicial']

In [6]:
prestamosCobroJudicial.tail()

      Año  Mes  Actividad  CobroJudicial
311  2016    9          1   5.787954e+09
312  2016    9          2   2.244145e+09
313  2016   10          1   5.595152e+09
314  2016   10          2   2.489553e+09
315  2016   11          1   5.858939e+09

# Definir Conjuntos de Datos

In [7]:
x = prestamosCobroJudicial.iloc[:,0:3]
y= prestamosCobroJudicial.iloc[:,3]

In [8]:
x.head()

    Año  Mes  Actividad
0  2016   11          2
1  2016   12          1
2  2016   12          2
3  2017    1          1
4  2017    1          2

In [9]:
y.head()

0    2.655478e+09
1    6.404441e+09
2    2.196382e+09
3    6.425878e+09
4    6.279686e+09
Name: CobroJudicial, dtype: float64

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)
x_train.shape, x_test.shape,y_train.shape,y_test.shape

((221, 3), (95, 3), (221,), (95,))

# Modelos Regresion

Usando Linear Regression

In [11]:
lreg = LinearRegression().fit(x_train, y_train)
lpred = lreg.predict(x_test)

# The coefficients
print('Coefficients: \n', lreg.coef_)
# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(y_test,lpred))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'
      % r2_score(y_test, lpred))
print('-------------------------------------------------------------------------')
print('Mean Absolute Error:', mean_absolute_error(y_test, lpred))  
print('Mean Squared Error:', mean_squared_error(y_test, lpred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, lpred)))

Coefficients:
 [ 1.17330754e+09  2.38327727e+07 -3.20925146e+09]
Mean squared error: 30310869858354974720.00
Coefficient of determination: 0.47
-------------------------------------------------------------------------
Mean Absolute Error: 3568214708.136918
Mean Squared Error: 3.0310869858354975e+19
Root Mean Squared Error: 5505530842.557779

Usando Random Forest Regressor

In [12]:
RFreg = RandomForestRegressor()
RFreg = RFreg.fit(x_train, y_train)
RFpred = RFreg.predict(x_test)
print('-------------------------------------------------------------------------')
print('Mean Absolute Error:', mean_absolute_error(y_test, RFpred))  
print('Mean Squared Error:', mean_squared_error(y_test, RFpred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, RFpred)))

-------------------------------------------------------------------------
Mean Absolute Error: 365681674.7146264
Mean Squared Error: 4.390768395788031e+17
Root Mean Squared Error: 662628734.344356

Importar dataset de Prediccion

In [13]:
dspred = pd.read_csv("BacPrestamosCobroJudicialPred.csv")

In [14]:
#Usar Categoria 1 para Inmuebles,2 para consumo
#dspred['Actividad'].replace(['Inmuebles','Consumo'],[1,2],inplace=True)
#Quitar columna RowId
dspred.drop(['CobroJudicial'], axis=1,inplace=True)
#dspred.drop(['RowId'], axis=1,inplace=True)

In [15]:
dspred.head()

   Unnamed: 0   Año  Mes  Actividad
0           0  2020    1          1
1           1  2020    1          2
2           2  2020    2          1
3           3  2020    2          2
4           4  2020    3          1

In [16]:
FinalPred=RFreg.predict(dspred)

ValueError: Number of features of the model must match the input. Model n_features is 3 and input n_features is 4

In [ ]:
FinalPred

In [ ]:
dspred['CobroJudicial']=FinalPred

In [ ]:
dspred.to_csv("BacPrestamosCobroJudicial.csv")

In [ ]:
dspred.head()